<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>DD: Daily Diary</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/Style/style.css">
  <nav class="navbar navbar-dark bg-primary">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand">DD</p>
      </div>
        <ul class="nav navbar-nav navbar-right">
          <!-- 6 -->
          <li id="home" class="nav_items"><a href="/" class="nav_link">HOME</a></li>
          <li id="about" class="nav_items"><a href="/about" class="nav_link">ABOUT US</a></li>
          <li id="contact" class="nav_items"><a href="/contact" class="nav_link">CONTACT US</a></li>
        </ul>
    </div>
  </nav>

  <body>
