<%-include("partials/header");-%>
<div class="about_container">
  <div class="heading">
    <h1>About Page</h1>
  </div>
  <div class="about_text">
    <p>DD is your personal online diary or blog where you can write about your self daily. DD is a standalon project which is developed by <a href="https://harshit2118.github.io/my_web/"><b>Harshit Joshi</b></a> as a personal project. </p><br><br>
  </div>
</div>
<%- include('partials/footer'); -%>
