<%-include("partials/header");-%>
<div class="add_blog">
       <div class="heading">
              <h1><%=Title%></h1>
       </div>
       <p class="home_text"><%=blogPost%></p><br><br>
</div>
<%-include("partials/footer");-%>